/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๒๖/๐๘/๒๕๖๔>
Modify date : <๒๖/๐๘/๒๕๖๔>
Description : <>
=============================================
*/

@import '../../../variables.scss';

.page-manage-user .page-header .toolbar {
    width: 147px;
}

.page-manage-user .page-header .toolbar .p-button {
    width: 100%;
}
