<ngx-loading [show]="appService.preload.isShow"></ngx-loading>
<span class="preload p-text-normal" *ngIf="appService.preload.isShow">
  <span *ngIf="appService.preload.isPage || appService.preload.isModal">Loading...</span>
  <span *ngIf="appService.preload.isCheck">Checking...</span>
  <span *ngIf="appService.preload.isSave">Saving...</span>
</span>
<div class="p-col-12 p-p-0"
    [ngClass]="{
        'sidebar-menu-active': isActiveSidebarMenu,
        'sidebar-menu-inactive': !isActiveSidebarMenu
    }">
    <header>
        <div class="topbar">
            <div class="topbar-background"></div>
            <div class="topbar-left">
                <div class="owner-logo" [class]="appService.lang"></div>
            </div>
            <div class="topbar-right">
                <button pButton type="button" icon="pi" class="sidebar-menu-btn p-button-rounded" (click)="setActiveSidebarMenu(false)">
                    <i class="fas fa-bars rotate" aria-hidden="true"
                        [ngClass]="{
                            'rotate-right-180': !isActiveSidebarMenu
                        }">
                    </i>
                </button>
                <div class="systemname-logo" [class]="appService.lang"></div>
                <ul class="topbar-items" *ngIf="appService.authenInfo.isAuthenticated">
                    <li>
                        <button pButton type="button" label="" class="signin-btn p-button-outlined p-button-secondary"  *ngIf="!appService.authenInfo.isAuthenticated">
                            <span>{{ 'signin.label' | translate | titlecase }}</span>
                        </button>
                        <div class="user-info" *ngIf="appService.authenInfo.isAuthenticated">
                            <p-avatar
                                label="{{ authService.getUserInfo !== null ? ((authService.getUserInfo.givenName !== undefined ? (authService.getUserInfo.givenName[0] | uppercase) : '') + (authService.getUserInfo.familyName !== undefined ? (authService.getUserInfo.familyName[0] | uppercase) : '')) : '' }}"
                                shape="circle"
                                [style]="{ 'background-color': userBackgrondColor }"
                                styleClass="user-avatar"
                                (click)="profile.toggle($event)">
                            </p-avatar>
                            <p-overlayPanel #profile class="p-text-center" [showCloseIcon]="false">
                                <ng-template pTemplate>
                                    <div class="p-p-3">
                                        <p-avatar label="YT" shape="circle" [style]="{ 'background-color': userBackgrondColor }"></p-avatar>
                                        <div class="p-d-block p-mt-2">
                                            <div class="p-text-truncate p-text-normal text-white text-size-18">{{ authService.getUserInfo !== null ? (authService.getUserInfo.fullName[appService.lang] | titlecase) : '' }}</div>
                                            <div class="p-text-truncate p-text-light p-mt-1 text-white text-size-16">{{ authService.getUserInfo !== null ? (authService.getUserInfo.email | lowercase) : '' }}</div>
                                        </div>
                                    </div>
                                    <p-divider></p-divider>
                                    <button pButton type="button" label="" class="btn-signout p-button-text p-button-plain p-col-12">
                                        <span>{{ 'signout.label' | translate | titlecase }}</span>
                                    </button>
                                </ng-template>
                            </p-overlayPanel>
                        </div>
                    </li>
                    <li>
                        <div class="flags-icon">
                            <a href="javascript:void(0)" *ngIf="appService.lang === 'en'" (click)="appService.setDefaultLang('th')">
                                <i class="flag-icon flag-icon-th" aria-hidden="true"></i>
                            </a>
                            <a href="javascript:void(0)" *ngIf="appService.lang === 'th'" (click)="appService.setDefaultLang('en')">
                                <i class="flag-icon flag-icon-gb" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="sidebar-menu">
        <p-scrollPanel #sidebarMenu>
            <div class="p-menu p-component">
                <ul class="p-menu-list p-reset">
                    <li *ngFor="let item of appService.menuItems"
                        [ngClass]="{
                            'p-menuitem': !item.items,
                            'p-submenu': item.items,
                            'p-hidden': !item.visible
                        }">
                        <a routerLink="{{ item.routerLink }}" class="p-menuitem-link" role="menuitem" tabindex="0"
                            *ngIf="!item.items"
                            [ngClass]="{
                                'active': (appService.rootPath === item.routerLink && !appService.preload.isShow && !appService.preload.isPage)
                            }">
                            <span class="p-menuitem-icon {{ item.icon }}"></span>
                            <span class="p-menuitem-text">{{ (item.label + '') | translate | titlecase }}</span>
                        </a>
                        <p-accordion *ngIf="item.items" expandIcon="fas fa-angle-down" collapseIcon="fas fa-angle-up" styleClass="{{ item.id }}">
                            <p-accordionTab header="{{ (item.label + '') | translate | titlecase }}" [selected]="true">
                                <ul class="p-menu-list p-reset">
                                    <li class="p-menuitem" *ngFor="let subitem of item.items"
                                        [ngClass]="{
                                            'p-hidden': !subitem.visible
                                        }">
                                        <a routerLink="{{ subitem.routerLink }}" class="p-menuitem-link" role="menuitem" tabindex="0"
                                            [ngClass]="{
                                                'active': (appService.rootPath === subitem.routerLink && !appService.preload.isShow && !appService.preload.isPage)
                                            }">
                                            <span class="p-menuitem-icon {{ subitem.icon }}"></span>
                                            <span class="p-menuitem-text">{{ (subitem.label + '') | translate | titlecase }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </p-accordionTab>
                        </p-accordion>
                    </li>
                </ul>
            </div>
        </p-scrollPanel>
    </div>
    <div class="p-component-overlay p-sidebar-mask"></div>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <div #footer class="footer float-none">
            <div #copyright class="copyright p-text-truncate p-text-light text-muted text-size-15">
                <span *ngIf="appService.lang === 'th'"><i class="fas fa-copyright" aria-hidden="true"></i> สงวนลิขสิทธิ์ พ.ศ.2564{{ (today.getFullYear() + 543) > 2564 ? (' - ' + (today.getFullYear() + 543)) : '' }} มหาวิทยาลัยมหิดล</span>
                <span *ngIf="appService.lang === 'en'">Copyright <i class="fas fa-copyright" aria-hidden="true"></i> 2021{{ today.getFullYear() > 2021 ? (' - ' + today.getFullYear()) : '' }} Mahidol University.</span>
            </div>
            <div #muitLogo class="muit-logo"></div>
        </div>
    </footer>
</div>
