/*
=============================================
Author      : <ยุทธภูมิ ตวันนา>
Create date : <๑๓/๐๗/๒๕๖๔>
Modify date : <๒๐/๐๗/๒๕๖๔>
Description : <>
=============================================
*/

$fontFamilyKanit: 'Kanit', serif;
$fontFamilyPridi: 'Pridi';
$fontFamilyOswald: 'Oswald';
$fontWeightThin: 100;
$fontWeightExtralight: 200;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;
$fontWeightExtrabold: 800;
$fontSize72: 72px;
$fontSize60: 60px;
$fontSize48: 48px;
$fontSize36: 36px;
$fontSize32: 32px;
$fontSize30: 30px;
$fontSize28: 28px;
$fontSize26: 26px;
$fontSize24: 24px;
$fontSize22: 22px;
$fontSize21: 21px;
$fontSize20: 20px;
$fontSize19: 19px;
$fontSize18: 18px;
$fontSize17: 17px;
$fontSize16: 16px;
$fontSize15: 15px;
$fontSize14: 14px;
$fontSize13: 13px;
$fontSize12: 12px;
$fontSize11: 11px;
$fontSize10: 10px;
$fontSize9: 9px;
$screenMinWidth: 356px;
$headerMaxHeight: 70px;
$footerMaxHeight: 55px;
$navbarbrandMaxHeight: 70px;
$sidebarMaxWidth: 260px;
$imagePath: 'assets/images';
$colorMU: #1D4F91;
